/* 设置rem的根元素大小  */
html {
  font-size: 26.6666667vw;
}
/* 设置body中的字体大小 */
body {
  font-size: .16rem;
}
/* 设置网页主题颜色 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  /* 解决图片和块级元素3px间隙问题 */
  vertical-align: middle;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
/* 设置公共的网站顶部样式  */
#header {
  position: relative;
  z-index: 999;
}
#header .top {
  padding-top: .12rem;
  height: .5rem;
  background-color: #ff4e49;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}
#header .top .logo {
  float: left;
  margin-left: .15rem;
}
#header .top .logo img {
  width: 1.9rem;
}
#header .top .download {
  float: right;
}
#header .top .download img {
  width: .48rem;
}
#header .xy-search {
  width: 100%;
  display: flex;
  padding: .1rem;
  position: fixed;
  top: .5rem;
  background-color: #fff;
}
#header .xy-search .searchBox {
  flex: 1;
  height: .34rem;
  border-radius: .17rem;
  font-size: .12rem;
  background-color: #e5e5e5;
  margin-bottom: 0;
  border: none;
}
#header .xy-search .btn-search {
  padding: 0 .18rem;
  height: .34rem;
  background-color: #ff4e49;
  color: #fff;
  border-radius: .17rem;
  font-size: .14rem;
  margin-left: .1rem;
  border: none;
}
/* 设置公共的网站底部样式 */
#xy-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #232a34;
}
#xy-footer .title {
  height: .35rem;
  background-color: #ff4e49;
  line-height: .35rem;
  padding: 0 .1rem ;
}
#xy-footer .title span {
  float: left;
  color: #fff;
}
#xy-footer .title a {
  float: right;
}
#xy-footer .title a i {
  font-size: .2rem;
  line-height: .35rem;
  color: #fff;
}
#xy-footer .function {
  height: .35rem;
  width: auto;
  border: 1px solid #ccc;
}
#xy-footer .function a {
  width: 30%;
  height: .34rem;
  position: absolute;
  text-align: center;
  line-height: .34rem;
  color: #fff;
  font-size: .14rem;
}
#xy-footer .function a.login {
  left: 0;
  border-right: 1px solid #ccc;
}
#xy-footer .function a.register {
  border-right: 1px solid #ccc;
  left: 30%;
}
#xy-footer .function a.return {
  right: 0;
  width: 40%;
}
#xy-footer .download {
  text-align: center;
  font-size: .12rem;
  padding-bottom: .15rem;
  margin-top: .12rem;
}
#xy-footer .download a {
  color: red;
  font-size: .12rem;
}
#xy-footer .download span {
  color: #aeabb1;
}
#xy-main {
  margin-top: 1.04rem;
}
#xy-main .xy-title {
  color: #5a5a5a;
  height: .35rem;
  font-size: .14rem;
  line-height: .35rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: .1rem;
  background: linear-gradient(#fff, #eeeeee);
}
#xy-main .xy-title a {
  color: #5a5a5a;
}
#xy-main .xy-content {
  background-color: #f2f2f2;
  padding: .1rem .05rem;
  padding-bottom: 0px;
}
#xy-main .xy-content .xy-con-title {
  background-color: #eee;
  border: 1px solid #ccc;
  padding-left: .1rem;
  font-size: .15rem;
  line-height: .4rem;
  color: #874604;
}
#xy-main .xy-content .xy-con-list {
  padding-top: .1rem;
}
#xy-main .xy-content .xy-con-list ul {
  padding: .05rem;
  padding-bottom: 0px;
}
#xy-main .xy-content .xy-con-list ul li {
  font-weight: 600;
  font-family: "宋体";
  line-height: .45rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
#xy-main .xy-content .xy-con-list ul li i {
  line-height: .45rem;
  font-size: .28rem;
  color: #666;
}
#xy-main .xy-content .xy-con-list ul li:last-child {
  border-bottom: none;
}
