* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body,
html {
  transition: absolute 2s;
}
li {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
}
img {
  /* 解决图片的3px间隙问题 */
  vertical-align: middle;
}
input {
  border: 0;
  /* 去掉内边框 */
  outline: 0;
}
html {
  font-size: 26.66667vw !important;
}
body {
  font-size: 0.14rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body #main {
  flex: 1;
}
body #header .top {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: .14rem;
  height: .5rem;
  background-color: #ff4e49;
}
body #header .top a {
  display: block;
}
body #header .top a img {
  width: 100%;
}
body #header .top .logo {
  width: 1.85rem;
}
body #header .top .download {
  width: .5rem;
  height: .5rem;
}
body #header .top .download img {
  margin-top: -0.03rem;
}
body #header .search {
  padding: .1rem;
}
body #header .search input {
  margin: 0;
  width: 2.6rem;
  height: .3rem;
  background-color: #e5e5e5;
  border-radius: .15rem;
  padding-left: .15rem;
}
body #header .search button {
  background-color: #fff;
  width: .8rem;
  height: .3rem;
  border: 1px solid #ccc;
  border-radius: .15rem;
  outline: none;
}
body li.mui-table-view-cell::after {
  left: 0;
}
body #footer {
  background-color: #232a34;
}
body #footer .function {
  height: 34px;
  display: flex;
  text-align: center;
  border-bottom: 1px solid #999;
}
body #footer .function a {
  color: #fff;
  line-height: .34rem;
}
body #footer .function a:nth-of-type(-n+2) {
  border-right: 1px solid #666;
}
body #footer .function .login {
  flex: 3;
}
body #footer .function .register {
  flex: 3;
}
body #footer .function .return {
  flex: 5;
}
body #footer .function .return img {
  width: .15rem;
}
body #footer .download {
  height: .83rem;
  text-align: center;
}
body #footer .download .app {
  margin-top: .14rem;
  color: #ccc;
}
body #footer .download .app a {
  font-size: .12rem;
  color: #f14644;
}
body #footer .download .app span {
  font-size: .12rem;
}
body #footer .download .download-url {
  color: #999;
  margin-top: .1rem;
}
body #main #nav {
  padding: 0 10px;
  line-height: .36rem;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ccc;
  height: .36rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
}
body #main .top10 .title {
  padding-left: .1rem;
  height: .43rem;
  line-height: .43rem;
  color: #874604;
  font-weight: 600;
  font-size: .16rem;
  background-color: #f3f3f3;
  border-bottom: 1px solid #c8c8c8;
}
body #main .top10 .content .mui-table-view .mui-table-view-cell a .mui-pull-left {
  width: .2rem;
  height: .2rem;
  color: #fff;
  text-align: center;
  margin: 0.1rem 0.1rem 0 0;
}
body #main .top10 .content .mui-table-view .mui-table-view-cell a .mui-media-body {
  font-size: .16rem;
}
body #main .top10 .content .mui-table-view .mui-table-view-cell a .mui-media-body p {
  font-size: .14rem;
}
body #main .volume .title {
  padding-left: .1rem;
  height: .43rem;
  line-height: .43rem;
  color: #874604;
  font-weight: 600;
  font-size: .16rem;
  background-color: #f3f3f3;
  border-bottom: 1px solid #c8c8c8;
}
body #main .volume .content .mui-table-view .mui-table-view-cell a .mui-pull-left,
body #main .volume .content .mui-table-view .mui-table-view-cell a .mui-table-view,
body #main .volume .content .mui-table-view .mui-table-view-cell a .mui-media-object {
  line-height: 100px;
  max-width: 100px;
  height: 100px;
}
body #main .volume .content .mui-table-view .mui-table-view-cell a .mui-media-body {
  font-size: .16rem;
}
body #main .volume .content .mui-table-view .mui-table-view-cell a .mui-media-body .productName {
  font-size: .14rem;
  color: #333;
}
body #main .volume .content .mui-table-view .mui-table-view-cell a .mui-media-body .productPrice {
  font-size: .16rem;
  line-height: .32rem;
  color: red;
}
body #main .volume .content .mui-table-view .mui-table-view-cell a .mui-media-body .bottom {
  font-size: .12rem;
  color: #999;
}
body #main .newComments .title {
  padding-left: .1rem;
  height: .43rem;
  line-height: .43rem;
  color: #874604;
  font-weight: 600;
  font-size: .16rem;
  background-color: #f3f3f3;
  border-bottom: 1px solid #c8c8c8;
}
body #main .newComments .content .mui-table-view {
  background-color: #F3F3F3;
}
body #main .newComments .content .mui-table-view .mui-table-view-cell a .up {
  overflow: hidden;
}
body #main .newComments .content .mui-table-view .mui-table-view-cell a .up .mui-pull-left,
body #main .newComments .content .mui-table-view .mui-table-view-cell a .up .mui-table-view,
body #main .newComments .content .mui-table-view .mui-table-view-cell a .up .mui-media-object {
  line-height: 100px;
  max-width: 100px;
  height: 100px;
}
body #main .newComments .content .mui-table-view .mui-table-view-cell a .up .mui-media-body {
  font-size: .16rem;
}
body #main .newComments .content .mui-table-view .mui-table-view-cell a .up .mui-media-body .productName {
  color: #999;
  font-size: .14rem;
  margin: .24rem 0 0;
  overflow: hidden;
}
body #main .newComments .content .mui-table-view .mui-table-view-cell a .down {
  background-color: #f8f8f8;
  margin-top: .1rem;
  padding: .1rem;
  border: 1px solid #e7e7e7;
  position: relative;
}
body #main .newComments .content .mui-table-view .mui-table-view-cell a .down::before {
  position: absolute;
  content: '';
  border-bottom: .1rem solid #f8f8f8;
  border-left: .1rem solid transparent;
  border-right: .1rem solid transparent;
  top: -0.1rem;
  left: .36rem;
}
body #main .newComments .content .mui-table-view .mui-table-view-cell a .down .head {
  display: flex;
  justify-content: space-between;
  font-size: .16rem;
  color: #333;
}
body #main .newComments .content .mui-table-view .mui-table-view-cell a .down .content {
  white-space: normal;
  color: #333;
}
