body {
  height: 100vh;
  background-color: #fff;
}
img {
  vertical-align: middle;
}
#xy-header {
  width: 100%;
  height: .6rem;
  background-color: pink;
  position: fixed;
  z-index: 999;
}
#xy-main .xy-title {
  color: #5a5a5a;
  height: .35rem;
  font-size: .14rem;
  line-height: .35rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: .1rem;
  background: linear-gradient(#fff, #eeeeee);
}
#xy-main .xy-title a {
  color: #5a5a5a;
}
#xy-main .xy-content {
  background-color: #f2f2f2;
  padding: .1rem .05rem;
  padding-bottom: 0px;
}
#xy-main .xy-content .xy-con-title {
  background-color: #eee;
  border: 1px solid #ccc;
  padding-left: .1rem;
  font-size: .15rem;
  line-height: .4rem;
  color: #874604;
}
#xy-main .xy-content .xy-con-list {
  padding-top: .1rem;
}
#xy-main .xy-content .xy-con-list ul {
  padding: .05rem;
  padding-bottom: 0px;
}
#xy-main .xy-content .xy-con-list ul li {
  font-weight: 600;
  font-family: "宋体";
  line-height: .45rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
#xy-main .xy-content .xy-con-list ul li i {
  line-height: .45rem;
  font-size: .28rem;
  color: #666;
}
#xy-main .xy-content .xy-con-list ul li:last-child {
  border-bottom: none;
}
#xy-footer {
  height: .6rem;
  background-color: yellow;
}
.mui-scroll-wrapper {
  margin-top: .6rem;
}
