html {
  /* 设置 根元素在 375屏幕下的时候 是100px   100px就是 26.66667vw */
  font-size: 26.66667vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  /* 解决图片和块级元素3px间隙问题 */
  vertical-align: middle;
}
/* 实现头部 中间 底部的上中下布局 给body设置 flex布局 让头部和底部高度固定 中间flex1 自适应 */
/* 设置body中的字体大小 */
body {
  font-size: .16rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
ul,
li {
  list-style: none;
}
/* 设置网页主题颜色 */
#header {
  height: 1rem;
  width: 100%;
  padding: 0.02rem .05rem;
}
#header .top {
  padding: 0.1rem;
  height: 0.5rem;
  background-color: #ff841d;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaf47), to(#ff9000));
  display: flex;
  justify-content: space-between;
}
#header .top .logo {
  width: 1.9rem;
}
#header .top .logo img {
  width: 100%;
}
#header .top .download {
  width: 0.3rem;
}
#header .top .download img {
  width: 100%;
}
#header .hxw-search {
  margin-top: .02rem;
  background-color: #fff;
  height: 0.5rem;
  display: flex;
  padding: 0.1rem;
}
#header .hxw-search input {
  text-align: left;
  font-size: 0.14rem;
  margin-right: 0.1rem;
  padding-left: 0.1rem;
  background-color: #f1f1f1;
  flex: 1;
  height: 0.3rem;
  border-radius: 0.15rem;
  border: none;
}
#header .hxw-search button {
  background-color: #ff841d;
  width: 0.65rem;
  height: 0.3rem;
  color: #fff;
  border-radius: 0.15rem;
  border: none;
}
#main {
  flex: 1;
  margin-top: .1rem;
}
#main .category-table {
  line-height: .2rem;
  font-size: .16rem;
  font-weight: 600;
  background-color: #ededed;
  padding: 0;
}
#main .category-table .big-title {
  margin: .1rem;
}
#main .category-table .mui-collapse-content {
  margin-top: 0;
  padding-top: 0;
}
#main .category-table .mui-collapse-content .category-ul {
  display: flex;
  flex-wrap: wrap;
  border-top: 0.01rem solid #d3d3d3;
}
#main .category-table .mui-collapse-content .category-ul .category-rows {
  width: 33.3333%;
  text-align: center;
  font-size: .14rem;
  font-weight: normal;
  border-right: 0.01rem solid #d3d3d3;
  border-bottom: 0.01rem solid #d3d3d3;
  padding: .08rem;
}
#main .category-table .mui-collapse-content .category-ul .category-rows > a {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  color: black;
}
#hxw-footer {
  background-color: #efefef;
  height: .80rem;
}
#hxw-footer .function {
  border-top: 0.01rem solid #ccc;
  border-bottom: 0.01rem solid #ccc;
  height: 0.36rem;
  text-align: center;
  font-size: 0.14rem;
  display: flex;
}
#hxw-footer .function .logIn {
  line-height: 0.36rem;
  color: #666;
  flex: 2;
}
#hxw-footer .function .register {
  border-left: 0.01rem solid #ccc;
  border-right: 0.01rem solid #ccc;
  line-height: 0.36rem;
  color: #666;
  flex: 2;
}
#hxw-footer .function .back {
  line-height: 0.36rem;
  color: #666;
  flex: 3;
}
#hxw-footer .function .back img {
  height: 0.14rem;
}
#hxw-footer .download {
  padding: 0.08rem;
  color: #666;
  font-size: 0.12rem;
  text-align: center;
  line-height: 0.12rem;
}
#hxw-footer .download a {
  color: red;
}
#hxw-footer .download span a {
  color: #666;
}
