/* 设置rem的根元素大小  */
html {
  font-size: 26.6666667vw;
}
/* 设置body中的字体大小 */
body {
  font-size: .16rem;
}
/* 设置网页主题颜色 */
/* 1,头部的搜索栏样式 */
#header {
  background-color: #fff;
  height: 1.02rem;
  position: relative;
  z-index: 999;
}
#header .top {
  padding-top: .12rem;
  width: 100%;
  height: .5rem;
  background-color: #ff4e49;
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}
#header .top .logo {
  margin-left: .15rem;
}
#header .top .logo img {
  width: 1.9rem;
}
#header .top .download img {
  width: .48rem;
}
#header .gf-search {
  width: 100%;
  display: flex;
  padding: .1rem;
  position: fixed;
  top: .5rem;
  background-color: #fff;
}
#header .gf-search .searchBox {
  flex: 1;
  height: .34rem;
  border-radius: .17rem;
  font-size: .12rem;
  background-color: #e5e5e5;
  margin-bottom: 0;
  border: none;
}
#header .gf-search .btn-search {
  padding: 0 .18rem;
  height: .34rem;
  background-color: #ff4e49;
  color: #fff;
  border-radius: .17rem;
  font-size: .14rem;
}
/* 3,导航区域的样式 */
#gf-nav {
  overflow: hidden;
  margin-top: .05rem;
  padding: .1rem 0;
  background-color: #fff;
}
#gf-nav .nav-box .btn-nav-link {
  margin: .07rem 0;
}
#gf-nav .nav-box .btn-nav-link a {
  display: block;
  padding: 0 .17rem;
  text-align: center;
}
#gf-nav .nav-box .btn-nav-link a img {
  width: 80%;
  margin-bottom: .02rem;
}
#gf-nav .nav-box .btn-nav-link a span {
  font-size: .13rem;
  color: #000;
}
#gf-nav .nav-box .btn-nav-link.btn-hide {
  display: none;
}
/* 4,超值折扣推荐 */
#gf-discount {
  margin-top: .05rem;
}
#gf-discount .title {
  height: .35rem;
  background-color: #ff4e49;
  line-height: .35rem;
  padding: 0 .1rem;
}
#gf-discount .title span {
  float: left;
  color: #fff;
}
#gf-discount .title a {
  float: right;
}
#gf-discount .title a i {
  font-size: .2rem;
  line-height: .35rem;
  color: #fff;
}
#gf-discount .content .product-line {
  height: 1.2rem;
  width: 100%;
}
#gf-discount .content .product-line.mui-table-view-cell:after {
  left: 0;
}
#gf-discount .content .product-line a .product-img {
  max-width: 1rem;
  height: 1rem;
  width: 1rem;
  background-color: transparent;
}
#gf-discount .content .product-line a .product-text {
  height: 1rem;
  position: relative;
}
#gf-discount .content .product-line a .product-text .product-name {
  font-size: .13rem;
  line-height: .2rem;
  color: #000;
  white-space: normal;
}
#gf-discount .content .product-line a .product-text .product-price {
  line-height: .2rem;
  font-size: .13rem;
  color: #ff4e49;
}
#gf-discount .content .product-line a .product-text div {
  width: 100%;
  height: .25rem;
  line-height: .25rem;
  color: #aeabb1;
  position: absolute;
  bottom: 5px;
}
#gf-discount .content .product-line a .product-text div span {
  font-size: .12rem;
  position: absolute;
  width: .8rem;
  color: #aeabb1;
}
#gf-discount .content .product-line a .product-text div span.from-source {
  left: 0;
}
#gf-discount .content .product-line a .product-text div span.product-comment {
  right: 0;
}
/* 5,更多优惠信息 */
#gf-more {
  padding: .1rem .15rem;
  width: 100%;
  height: auto;
  background-color: #fff;
}
#gf-more a {
  display: block;
  width: 100%;
  height: .35rem;
  line-height: .35rem;
  text-align: center;
  color: #000;
  border: 1px solid #ccc;
}
/* 6,火箭样式 */
#rocket {
  display: none;
  position: fixed;
  bottom: .2rem;
  right: .1rem;
  cursor: pointer;
  width: .45rem;
  height: .45rem;
  background-color: #b8b9bb;
  border-radius: 50%;
  text-align: center;
  line-height: .45rem;
}
#rocket i {
  font-size: .2rem;
  color: #666;
}
/* 7,悬浮窗样式 */
#dots {
  width: .4rem;
  height: .4rem;
  position: fixed;
  z-index: 1000;
  top: 1rem;
  left: 0.5rem;
}
#dots .dot-bg {
  width: .4rem;
  height: .4rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 8px #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s;
}
#dots .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#dots .link a {
  width: .34rem;
  height: .34rem;
  position: absolute;
}
#dots .link a .dot-icon {
  display: none;
  width: .34rem;
  height: .34rem;
}
#dots .link a:nth-child(1) {
  top: -0.38rem;
  left: 0px;
}
#dots .link a:nth-child(2) {
  top: -0.19rem;
  left: -0.33rem;
}
#dots .link a:nth-child(3) {
  top: .17rem;
  left: -0.37rem;
}
#dots .link a:nth-child(4) {
  top: .42rem;
  left: -0.11rem;
}
#dots .link a:nth-child(5) {
  top: .39rem;
  left: .25rem;
}
#dots .link a:nth-child(6) {
  top: .1rem;
  left: .44rem;
}
#dots .link a:nth-child(7) {
  top: -0.26rem;
  left: .34rem;
}
.dotBig {
  transform: scale(3, 3);
}
.imgShow {
  display: block !important;
}
/* 设置公共的网站底部样式 */
#gf-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #232a34;
}
#gf-footer .title {
  height: .35rem;
  background-color: #ff4e49;
  line-height: .35rem;
  padding: 0 .1rem ;
}
#gf-footer .title span {
  float: left;
  color: #fff;
}
#gf-footer .title a {
  float: right;
}
#gf-footer .title a i {
  font-size: .2rem;
  line-height: .35rem;
  color: #fff;
}
#gf-footer .function {
  margin: .15rem .05rem;
  height: .35rem;
  width: auto;
  border: 1px solid #ccc;
}
#gf-footer .function a {
  width: 30%;
  height: .34rem;
  position: absolute;
  text-align: center;
  line-height: .34rem;
  color: #fff;
  font-size: .14rem;
}
#gf-footer .function a.login {
  left: 0;
  border-right: 1px solid #ccc;
}
#gf-footer .function a.register {
  border-right: 1px solid #ccc;
  left: 30%;
}
#gf-footer .function a.return {
  right: 0;
  width: 40%;
}
#gf-footer .download {
  text-align: center;
  font-size: .12rem;
  padding-bottom: .15rem;
}
#gf-footer .download a {
  color: red;
  font-size: .12rem;
}
#gf-footer .download span {
  color: #aeabb1;
}
