/* 设置rem的根元素大小  */
html {
  font-size: 26.6666667vw;
}
/* 设置body中的字体大小 */
body {
  font-size: .16rem;
  height: 100vh;
  background-color: #fff;
}
/* 设置网页主题颜色 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  /* 解决图片和块级元素3px间隙问题 */
  vertical-align: middle;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
#xy-header {
  height: .45rem;
  background-color: #ff841d;
  display: flex;
  line-height: .45rem;
  color: #fff;
  z-index: 999;
  position: fixed;
  width: 100%;
}
#xy-header a {
  width: .5rem;
  text-align: center;
  font-size: .26rem;
  color: #fff;
  display: block;
}
#xy-header a img {
  width: 80%;
  padding: .03rem;
}
#xy-header h4 {
  font-size: .18rem;
  flex: 1;
  line-height: .45rem;
  text-align: center;
  margin: 0px;
  color: #fff;
  font-weight: normal;
}
#xy-main {
  padding-top: .45rem;
}
#xy-main ul {
  padding: .1rem .2rem;
}
#xy-main ul li {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: .05rem .1rem;
  margin: .05rem;
  float: left;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}
/* 设置公共的网站底部样式 */
#xy-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #232a34;
}
#xy-footer .title {
  height: .35rem;
  background-color: #ff4e49;
  line-height: .35rem;
  padding: 0 .1rem ;
}
#xy-footer .title span {
  float: left;
  color: #fff;
}
#xy-footer .title a {
  float: right;
}
#xy-footer .title a i {
  font-size: .2rem;
  line-height: .35rem;
  color: #fff;
}
#xy-footer .function {
  height: .35rem;
  width: auto;
  border: 1px solid #ccc;
}
#xy-footer .function a {
  width: 30%;
  height: .34rem;
  position: absolute;
  text-align: center;
  line-height: .34rem;
  color: #fff;
  font-size: .14rem;
}
#xy-footer .function a.login {
  left: 0;
  border-right: 1px solid #ccc;
}
#xy-footer .function a.register {
  border-right: 1px solid #ccc;
  left: 30%;
}
#xy-footer .function a.return {
  right: 0;
  width: 40%;
}
#xy-footer .download {
  text-align: center;
  font-size: .12rem;
  padding-bottom: .15rem;
  margin-top: .12rem;
}
#xy-footer .download a {
  color: red;
  font-size: .12rem;
}
#xy-footer .download span {
  color: #aeabb1;
}
